* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #faf9f5;
    color: #202d43;
    font-family: Arial, sans-serif;
}

body > header,
main > section,
footer {
    width: 88%;
    max-width: 1180px;
    margin: auto;
}
